*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blanquito: #ffffff;
  --grisesito: #292929;
  --grisesitoOscuro: #393939;
  font-family: 'Open Sans', sans-serif;
}